
@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_TestLayout.cshtml";
}

<div class="content">
    <div class="wrap">
        <div class="about">
            <h3>Hakkımızda</h3>
            <img src="~/web/images/about_banner.jpg" alt="" />

               <p> Merhaba, ben Murat! </p>

               <p> Seyahat etmek benim için bir tutku değil, bir yaşam tarzı. Yeni şehirler görmek, farklı kültürleri tanımak, bilinmeyen sokaklarda kaybolmak... İşte bu blogda tüm bu yolculukları sizinle paylaşıyorum. </p>

               <p> Gezdiğim yerlerde sadece manzaraları değil, insan hikayelerini, sokak lezzetlerini, gizli kalmış köşeleri ve anıların izini arıyorum. Her yazıda biraz keşif, biraz heyecan, bolca ilham bulacaksınız.</p>

               <p> Eğer siz de yeni yerler görmekten keyif alıyor, “Bir gün ben de giderim” diyorsanız — doğru yerdesiniz. </p>
                
               <p> Çayınızı kahvenizi alın, birlikte yollara düşelim. 🌍✈️ </p>

               <p> Sevgiler, </p>
               
  
        </div>
    </div>
</div>